.panel-films {
  .panel {
    background: #f5f5f5;
    max-width: 440px;
    margin: 0 auto;

    @media(min-width: 768px) {
      max-width: 100%;
    }
  }

  .more {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #fff;
    background: rgba(0,0,0,.8);
    transition: opacity .2s;
    border-radius: 4px;

    button {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      display: block;
      margin: 0 auto;
      background: rgba(255,255,255,.4);
      padding: 10px 20px;
      border-radius: 3px;
      transition: background .2s;

      &:hover {
        background: rgba(255,255,255,.6);
      }
    }
  }

  .panel-tile {
    color: #000;
    position: relative;
    display: block;

    &:hover {
      color: #000;
      text-decoration: none;

      & > .more {
        opacity: 1;
      }
    }

    .title {
      height: 40px;
      font-weight: 300;
    }
  }
}

.films {
  max-width: 440px;

  @media(min-width: 768px) {
    max-width: 100%;
  }
}