.search {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  height: 300px;
  background-color: #f5f5f5;
  position: relative;

  @media(min-width: 768px) {
    height: 400px;
  }

  .input-group {
    border-bottom: 4px solid #ddd;
    background: transparent;
    max-width: 768px;
    width: 100%;
    margin: 0 auto;

    input {
      font-size: 24px;
      font-weight: 100;
      padding: 6px 0;
      height: 100%;
      border: none;
      background: transparent;
      box-shadow: none;
    }

    button {
      height: 100%;
    }
  }

  .text-center {
    padding-top: 40px;

    p:nth-of-type(1) {
      font-size: 52px;
    }

    p:nth-of-type(2) {
      font-size: 28px;
      font-weight: 100;
    }
  }
}

form {
  position: absolute;
  bottom: 40px;
  right: 0;
  left: 0;
  transform: scale3d(0.5,0.5,1);
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);

  &.open {
    transform: translate3d(0, -50%, 0);
    margin: auto;
  }
}
