<div
    class="container-fluid search"
    ng-controller="searchController">

    <div class="text-center">
        <h2>Lorem ipsum</h2>
        <h2>is simply dummy text of the printing and typesetting industry</h2>
    </div>

    <form
        name="search.testForm"
        ng-class="{ 'open': search.isOpen }"
        ng-submit="search.getListData()">

        <div class="input-group">
            <input
                name="name"
                class="form-control"
                type="text"
                ng-model="search.searchInput"
                required
                ng-click="search.isOpen = true">

            <span class="input-group-btn">
                <button
                    type="submit"
                    class="btn btn-link"
                    style="background: url('../../assets/img/magnifying-glass.svg')">
                </button>
            </span>
        </div>

        <!--<div ng-messages="search.testForm.name.$error">-->
                <!--<span ng-message="required" class="error text-danger" role="alert">-->
                    <!--You did not enter a field-->
                <!--</span>-->
        <!--</div>-->

    </form>

    <pre>{{search.selectedSearchByYear}}</pre>

    <form>

        <div ng-hide="search.selectedSearchBy">
            <div class="form-inline">



                <div class="year" ng-show="search.selectedSearchByYear">
                    <label class="control-label">Year:</label>
                    <input
                        class="form-control"
                        type="text"
                        ng-model="search.year">
                </div>

                <div class="range2" ng-hide="search.selectedSearchByYear">
                    <label class="control-label">To:</label>
                    <input
                        class="form-control"
                        type="text"
                        ng-model="search.range2">
                </div>

                <div class="range1" ng-hide="search.selectedSearchByYear">
                    <label class="control-label">From:</label>
                    <input
                        class="form-control"
                        type="text"
                        ng-model="search.range1">
                </div>

                <div class="search-button">
                    <button class="btn btn-default" type="button" ng-click="search.getListDataByYear()">
                        <i class="glyphicon glyphicon-search"></i>
                        Search
                    </button>
                </div>
            </div>
        </div>
    </form>


    <!--<div ng-repeat="item in search.gerneName track by $index">-->
        <!--<button>{{item.name}}</button>-->
    <!--</div>-->

</div>

<div class="row">

    <select
        class="form-control"
        ng-change="search.resetForm()"
        ng-model="search.selectedSearchType"
        ng-options="item.value as item.name for item in search.searchType">
    </select>

    <select
        ng-show="search.selectedSearchType"
        class="form-control"
        ng-change="search.toggleSearch()"
        ng-model="search.selectedSearchBy"
        ng-options="item.value as item.name for item in search.searchBy">
    </select>

    <select
        ng-show=""
        class="form-control"
        ng-change="search.toggleInRange()"
        ng-model="search.selectedSearchByYear"
        ng-options="item.value as item.name for item in search.searchByYear">
    </select>


    <button ng-click="search.resetForm()" class="btn">Reset</button>

</div>

<div class="container p-t-md">

    <div class="row clearfix">

        <div
            class="col-sm-6 col-md-4 col-lg-3 panel-group"
            ng-repeat="film in search.films track by $index"
            ng-if="search.selectedSearchType && search.films && !search.year && !search.range1">

            <films
                film="film"
                index="film.id">
            </films>

            <modal
                handler="index"
                film="film"
                index="film.id">
            </modal>

        </div>

        <div
            class="col-sm-6 col-md-4 col-lg-3 panel-group"
            ng-repeat="film in search.films track by $index"
            ng-if="search.films && (search.year || search.range1)">

            <films film="film"></films>

        </div>

        <div
            ng-repeat="actor in search.actors track by $index"
            ng-if="!search.selectedSearchType && search.actors">

            <actors actor="actor"></actors>

        </div>

    </div>
</div>

